@import url("https://fonts.googleapis.com/css2?family=Dangrek&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
h1,
h2,
h3,
h4 {
  font-family: Dangrek, "Arial Narrow", Arial, Verdana, sans-serif;
  margin: 0;
}

h1 {
  color: #000;
  font-weight: normal;
  font-size: 2.75rem;
  margin-bottom: 1em;
  padding: 0.5em 1em;
}

h2 {
  color: #000;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 1em;
}

h3 {
  font-size: 2.25rem;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;
}

p {
  font-family: Karla, Verdana, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.5em 0;
  margin: 0;
}

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  color: #000;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}

a:hover {
  border-color: #ea2e49;
}