@use 'variables' as *;
@use 'atoms';

// use the mixins from the atoms module to compose our molecules. If you prefer the terminology 'blocks' and 'elements' feel free to use it instead!
//The base styling we made on our atoms (elements) does most of the work...here we would make any modifications on the elements if they need to appear differently in a certain molecule (block)
[role="banner"] {
  display: grid;
  grid-column: 1 / 1;
  justify-items: center;
  align-items: center;
  > h1 {
    // notice we have to reference the 'atoms' namespace to find our mixins.
    @include atoms.uppercase($text-dark);
    @include atoms.section-heading($sun-color);
    border-radius: 100%;
    min-width: 475px;
    height: 475px;
    display: grid;
    grid-column: 1 / 1;
    justify-items: center;
    align-items: center;
  }
  h2 {
    @include atoms.section-heading($heading-background-color0);
    border-radius: 50%;
  }
}
.intro {
  background-color: $background-color1;
  @include atoms.set-font-colors($text-dark, $underline-border-dark);
}
.main>div, .main>footer {
  padding: 1em;
}
.summary {
  // @include atoms.uppercase($text-dark);
  p:last-child {
    @include atoms.divider;
  }
  background-color: #D9F0FF;
}
.preamble, .explanation {
  background-color: $background-color1;
  @include atoms.set-font-colors($text-dark, $underline-border-dark);
  h3 {
    @include atoms.section-heading($heading-background-color1);
    border-radius: 1em;
  }
}
.participation, .benefits {
  background-color: $background-color2;
  @include atoms.set-font-colors($text-light, $underline-border-light);
  h3 {
    @include atoms.section-heading($heading-background-color2);
    border-radius: 1em;
  }
}
.requirements {
  background-color: $background-color3;
  @include atoms.set-font-colors($text-light, $underline-border-light);
  h3 {
    @include atoms.section-heading($heading-background-color3);
    border-radius: 0.5em;
  }
  [role="contentinfo"] {
    background-color: $background-color4;
    @include atoms.set-font-colors($text-dark, $underline-border-dark);
    margin-left: -1em;
    margin-right: -1em;
    margin-bottom: -1em;
    margin-top: 1em;
    padding: 1em;
  }
}
footer {
  background-color: $background-color4;
  @include atoms.set-font-colors($text-dark, $underline-border-dark);
}
.sidebar {
  background-color: $background-color4;
  @include atoms.set-font-colors($text-dark, $underline-border-dark);
  font-size: $sidebar-font-size;
  padding: 1em;
  h3 {
    font-size: $heading-sidebar-size;
  }
  @media (min-width: $wide-screen-width) {
    background-color: $background-color1;
  }
}
