@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

$fonts-headline: Dangrek, "arial narrow", Arial, Verdana, sans-serif;
$fonts-body: Karla, verdana, arial, sans-serif;
$background-color: #daede2;
$primary: #77c4d3;
$accent1: #ea2e49;
$accent2: rgba(246, 247, 146, 0.9);
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #000;
$text-light: #fff;
$background-color1: #D9F0FF;
$background-color2: #427AA1;
$background-color3: #064789;
$background-color4: #FFD6BA;
$heading-background-color1: #AB9DFF;
$heading-background-color2: #60FFBC;
$heading-background-color3: #FF8383;
$sun-color: #FFCD19;
$cloud-color: #fff;
$fish-color: #FF4C00;
$bubble-color: #D9D9D9;
$text-body-size: 20px;
$heading1-size: 2.75rem;
$heading2-size: 2rem;
$heading3-size: 2.25rem;
$heading4-size: 1.5em;
