@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

$fonts-headline: Dangrek, "Arial Narrow", Arial, Verdana, sans-serif;
$fonts-body: Karla, Verdana, Arial, sans-serif;
$primary: #77c4d3;
$accent1: #ea2e49;
$accent2: rgba(246, 247, 146, 0.9);
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #000;
$text-light: #fff;
$background-color1: #D9F0FF;
$background-color2: #427AA1;
$background-color3: #064789;
$background-color4: #FFD6BA;
$heading-background-color0: #fff;
$heading-background-color1: #AB9DFF;
$heading-background-color2: #60FFBC;
$heading-background-color3: #FF8383;
$sun-color: #FFCD19;
$cloud-color: #fff;
$fish-color: #FF4C00;
$bubble-color: #379FBD;
$text-body-size: 20px;
$heading1-size: 2.75rem;
$heading2-size: 2rem;
$heading3-size: 2.25rem;
$heading4-size: 1.5rem;
$heading-sidebar-size: 1.25rem;
$sidebar-font-size: 0.8rem;
$underline-border-light: rgba(255, 255, 255, 0.5);
$underline-border-dark: rgba(0, 0, 0, 0.5);
$wide-screen-width: 1000px;
