@import url("https://fonts.googleapis.com/css2?family=Dangrek&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
h1,
h2,
h3,
h4 {
  font-family: Dangrek, "Arial Narrow", Arial, Verdana, sans-serif;
  margin: 0;
}

h1 {
  color: #000;
  font-weight: normal;
  font-size: 2.75rem;
  margin-bottom: 1em;
  padding: 0.5em 1em;
}

h2 {
  color: #000;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 1em;
}

h3 {
  font-size: 2.25rem;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: 200; /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;
}

p {
  font-family: Karla, Verdana, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.5em 0;
  margin: 0;
}

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  color: #000;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}

a:hover {
  border-color: #ea2e49;
}

[role=banner] {
  display: grid;
  grid-column: 1/1;
  justify-items: center;
  align-items: center;
}
[role=banner] > h1 {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000;
  color: #000;
  background-color: #FFCD19;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 100%;
  min-width: 475px;
  height: 475px;
  display: grid;
  grid-column: 1/1;
  justify-items: center;
  align-items: center;
}
[role=banner] h2 {
  color: #000;
  background-color: #fff;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 50%;
}

.intro {
  background-color: #D9F0FF;
  color: #000;
}
.intro a {
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}
.intro a:hover {
  border-color: #ea2e49;
}

.main > div, .main > footer {
  padding: 1em;
}

.summary {
  background-color: #D9F0FF;
}
.summary p:last-child {
  border-top: 1px solid #ea2e49;
  margin-top: 1em;
  padding-top: 1.5em;
}

.preamble, .explanation {
  background-color: #D9F0FF;
  color: #000;
}
.preamble a, .explanation a {
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}
.preamble a:hover, .explanation a:hover {
  border-color: #ea2e49;
}
.preamble h3, .explanation h3 {
  color: #000;
  background-color: #AB9DFF;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 1em;
}

.participation, .benefits {
  background-color: #427AA1;
  color: #fff;
}
.participation a, .benefits a {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}
.participation a:hover, .benefits a:hover {
  border-color: #ea2e49;
}
.participation h3, .benefits h3 {
  color: #000;
  background-color: #60FFBC;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 1em;
}

.requirements {
  background-color: #064789;
  color: #fff;
}
.requirements a {
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}
.requirements a:hover {
  border-color: #ea2e49;
}
.requirements h3 {
  color: #000;
  background-color: #FF8383;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-radius: 0.5em;
}
.requirements [role=contentinfo] {
  background-color: #FFD6BA;
  color: #000;
  margin-left: -1em;
  margin-right: -1em;
  margin-bottom: -1em;
  margin-top: 1em;
  padding: 1em;
}
.requirements [role=contentinfo] a {
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}
.requirements [role=contentinfo] a:hover {
  border-color: #ea2e49;
}

footer {
  background-color: #FFD6BA;
  color: #000;
}
footer a {
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}
footer a:hover {
  border-color: #ea2e49;
}

.sidebar {
  background-color: #FFD6BA;
  color: #000;
  font-size: 0.8rem;
  padding: 1em;
}
.sidebar a {
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}
.sidebar a:hover {
  border-color: #ea2e49;
}
.sidebar h3 {
  font-size: 1.25rem;
}
@media (min-width: 1000px) {
  .sidebar {
    background-color: #D9F0FF;
  }
}

.intro {
  padding: 1em;
}

* {
  box-sizing: border-box;
}

html {
  background-color: #064789;
  font-size: 20px;
}

body {
  font-family: Karla, Verdana, Arial, sans-serif;
  color: #000;
  background-color: #427AA1;
  margin: 0;
}