@use "variables" as *; //this puts all the variables in the global namespace.
// @use 'atoms';
// @use 'molecules';
// @use 'organisms' as o;

* {
  box-sizing: border-box;
}
html {
  background-color: $background-color;
  padding: 5%;
}

body {
  font-family: $fonts-body;
  font-size: 85%;
  color: $text-dark;
  background-color: $primary;
  margin: 0;
  padding: 1em;
}
