@use "variables" as *; //this puts all the variables in the global namespace.
@use 'atoms';
@use 'molecules';
@use 'organisms' as o;

* {
  box-sizing: border-box;
}
html {
  background-color: $background-color3;
  font-size: $text-body-size;
  padding: 5%;
}

body {
  font-family: $fonts-body;
  color: $text-dark;
  background-color: $background-color2;
  margin: 0;
}
